* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma
}

ul, li {
    margin: 0;
    padding: 0;
}

.content {
    width: 900px;
    margin: 0 auto;
}

.chat__title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.chat__message {
    list-style: none;
    padding: 10px 20px;
}

.chat__message:nth-child(odd) {
    background-color: #dedede;
}

.chat__textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    max-height: 100px;
}

