<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Dialogs
        link(href="/main.css" rel="stylesheet")
    body
        .content
            .chat
                .chat__title Best chat
                #dialog-list
                    ul
                        li.chat__message(v-for="message in messages") {{message.text}}
                form#dialog-form(v-on:submit.prevent="sendMessage")
                    textarea.chat__textarea(placeholder="add message" v-model="textMessage")
                    button Send message

        script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.0/vue-resource.js")
        script(src="/main.js")
